Soal 1
var1 = [1, 2, 3, 4]
Print tipe dari var1
Print panjang dari var1

In [ ]:
var1 = [1, 2, 3, 4]
print(type(var1))
print(len(var1))

Soal 2
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
Gabungkan list first dengan second simpan dengan nama variabel full, print variabel full
Urutkan full dengan descending order simpan pada variabel full_sorted, print full_sorted

In [1]:
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
full = first + second
print(full)
full_sorted = sorted(full)
print(full_sorted)

[11.25, 18.0, 20.0, 10.75, 9.5]
[9.5, 10.75, 11.25, 18.0, 20.0]

Soal 3
area = [11.25, 18.0, 20.0, 10.75, 9.50]
Print hasilnya dengan menggunakan index() untuk mencari index dari 20.0
Print hasilnya dengan menggunakan count() berapa sering 14.5 muncul di area
Gunakan append dua kali untuk menambahkan 24.5 dan 15.45, print area
Balik urutan area dengan reverse(), print area

In [ ]:
area = [11.25, 18.0, 20.0, 10.75, 9.50]
print(area.index(20.0))
print(area.count(14.5))
area.append(24.5)
area.append(15.45)
print(area)
area.reverse()
print(area)

Soal 4
area_3 = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]
Silahkan hapus 4 elemen terakhir, print area_3

In [ ]:
area_3 = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]
i = 1
n = 4
while i <= n:
    l = len(area_3)
    idx = l - 1
    del area_3[idx]
    i += 1
print(area_3)

Soal 5
area_4 = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
Ganti nilai dari "bathroom" menjadi 10.8, print area_4
Ganti "living room" menjadi "ruang tamu", print area_4

Soal 5
area_4 = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
Ganti nilai dari "bathroom" menjadi 10.8, print area_4
Ganti "living room" menjadi "ruang tamu", print area_4

In [ ]:
area_4 = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(area_4)

getIndex = area_4.index('bathroom')
area_4[getIndex] = 10.8
print(area_4)

getIndex = area_4.index('living room')
area_4[getIndex] = 'ruang tamu'
print(area_4)

Soal 6
Data = [12,23,21,90,89,73,79,64,82,56,90,99,23,33,23]
Dengan menggunakan multiple Input dan disimpan ke dalam List Data.
Tentukan Nilai Mean, Median dan Modus dari List Data tersebut
Tentukan Hasil Sort data tersebut secara Descending.

In [2]:
import statistics
Data = [12,23,21,90,89,73,79,64,82,56,90,99,23,33,23]

print("Mean : ", statistics.mean(Data))

Data.sort()
    
print("Median :", statistics.median(Data))

print("Modus :", statistics.mode(Data))

Mean :  57.13333333333333
Median : 64
Modus : 23

Soal 7
Dengan menggunakan fungsi/method Built-in dari Tipe String, tentukan apakah kata yang diinputkan adalah sebuah Polindrom atau bukan !
Contoh :
“KATAK” merupakan Polindrom
“MAKAN” bukan Polindrom

In [ ]:
kata = "katak"
tampung = ""
listKata = list(kata)
jKata = len(kata)
jKata = jKata - 1
while jKata >= 0:
    tampung = tampung + listKata[jKata]
    jKata -= 1
if kata == tampung:
    print(kata, "is palindrome");
else:
    print(kata, "is not palindrome")

Soal 1
Balikkan tuple berikut:
A = (10, 20, 30, 40, 50)
Contoh Hasil:
(50, 40, 30, 20, 10)

In [3]:
A = (10, 20, 30, 40, 50)
A = list(A)
A.reverse()
A = tuple(A)
print(A)

(50, 40, 30, 20, 10)

Soal 2
Akses nilai 20 dari tuple berikut:
A = ("Orange", [10, 20, 30], (5, 15, 25))
Contoh Hasil:
20

In [ ]:
A = ("Orange", [10, 20, 30], (5, 15, 25))
A = list(A)
print(A[1][1])

Soal 3
Unpack tuple berikut menjadi 4 variabel:
A = (10, 20, 30, 40)
Contoh Hasil:
a = 10
b = 20
c = 30
d = 40

In [1]:
A = (10, 20, 30, 40)
var = ['a', 'b', 'c', 'd']
A = list(A)
i = 0
while i <= (len(var) - 1):
    print(var[i], " = ", A[i])
    i += 1

a  =  10
b  =  20
c  =  30
d  =  40

Soal 4
Tukar dua tuple berikut:
tuple1 = (111, 222, 333, 444, 555)
tuple2 = (99, 88, 77, 66, 55)
Contoh Hasil:
tuple1 = (99, 88, 77, 66, 55)
tuple2 = (111, 222, 333, 444, 555)

In [3]:
tuple1 = (111, 222, 333, 444, 555)
tuple2 = (99, 88, 77, 66, 55)
print("Sebelum")
print('Tuple 1', tuple1)
print('Tuple 2', tuple2, '\n')

tuple1, tuple2 = tuple2, tuple1

print("Sesudah")
print('Tuple 1', tuple1)
print('Tuple 2', tuple2)

Sebelum
Tuple 1 (111, 222, 333, 444, 555)
Tuple 2 (99, 88, 77, 66, 55)

Sesudah
Tuple 1 (99, 88, 77, 66, 55)
Tuple 2 (111, 222, 333, 444, 555)

Soal 5
Salin item tuple 44 dan 55 dari tuple berikut ke tuple baru:
tuple1 = (11, 22, 33, 44, 55, 66)
Contoh Hasil
tuple2 = (44, 55)

In [6]:
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

Soal 6
Ubah item tuple pertama (22) dari daftar di dalam tuple berikut menjadi 222:
tuple1 = (11, [22, 33], 44, 55)
Contoh Hasil:
tuple1: (11, [222, 33], 44, 55)

In [8]:
tuple1 = (11, [22, 33], 44, 55)
tuple1 = list(tuple1)
tuple1[1][0] = 222
tuple1 = tuple(tuple1)
print(tuple1)

(11, [222, 33], 44, 55)

Soal 7
Urutkan tuple berdasarkan item tuple ke-2
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
Contoh Hasil:
(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [39]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

tuple2 = list()
tuple2.append(tuple1[2])
tuple2.append(tuple1[0])
tuple2.append(tuple1[3])
tuple2.append(tuple1[1])

tuple2 = tuple(tuple2)
print(tuple2)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

Soal 8
Menghitung jumlah kemunculan item 50 dari sebuah tuple 
tuple1 = (50, 10, 60, 70, 50)
Contoh Hasil:
2

In [44]:
import statistics
tuple1 = (50, 10, 60, 70, 50)
tuple1 = list(tuple1)
i = 0
totalMuncul = 0
while i <= (len(tuple1) - 1):
    if tuple1[i] == 50:
        totalMuncul += 1
    i += 1
print(totalMuncul)

2

Soal 9
Periksa apakah semua item dalam tuple berikut sama:
tuple1 = (45, 45, 45, 45)
Contoh Hasil:
True

In [1]:
tuple1 = (45, 45, 45, 45)
print(all(tuple1))

True