1. Tambahkan sebuah List ke dalam suatu set tertentu
setWarna = {"Kuning", "Merah", "Hijau", "Ungu"}
listWarna = ["Biru", "Coklat", "Hitam"]
Contoh Hasil : (Catatan hasil default set bisa tidak terurut)
{"Kuning", "Biru", "Coklat","Merah", "Hitam", "Hijau", "Ungu"}

In [1]:
setWarna = {"Kuning", "Merah", "Hijau", "Ungu"}
listWarna = ["Biru", "Coklat", "Hitam"]
setWarna.update(listWarna)
print(setWarna)

{'Kuning', 'Hijau', 'Coklat', 'Biru', 'Ungu', 'Hitam', 'Merah'}

2. Menghasilkan satu set item identik baru dari dua set tertentu
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [2]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1 & set2)

{40, 50, 30}

3. Menghasilkan satu set baru dengan semua item dari kedua set dengan menghapus duplikat
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1 | set2)

{70, 40, 10, 50, 20, 60, 30}

4. Diberikan dua set Python, perbarui set pertama dengan item yang hanya ada di set pertama dan bukan di set kedua.
set1 = {10, 20, 30}
set2 = {20, 40, 50}

In [4]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
print(set1 - set2)

{10, 30}

5. Hapus item 10, 20, 30 sekaligus dari set berikut 
set1 = {10, 20, 30, 40, 50}

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 30}
print(set1 - set2)

{40, 50}

6. Kembalikan sekumpulan semua elemen di A atau B, tetapi tidak keduanya
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1 - set2
set4 = set2 - set1
set3.update(set4)
print(set3)

{70, 10, 20, 60}

7. Periksa apakah dua set berikut memiliki elemen yang sama. Jika ya, tampilkan elemen set yang nilainya sama.
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

In [7]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
print(set1 & set2)

{10}

8. Perbarui set 1 dengan menambahkan item dari set 2, kecuali item yang sama
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [8]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
if set1 ^ set2:
    print(set1 ^ set2)
else:
    print('Tidak ada element yang sama')

{20, 70, 10, 60}

9. Hapus item dari set1 yang tidak sama untuk set1 dan set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1 - set2
set4 = set2 - set1
set3.update(set4)
print(set3)

{70, 10, 20, 60}

10. Soal

In [10]:

setA = {1, 2, 3, 7, 9, 10}
setB = {4, 5, 6, 7, 8, 9}
setC = {8, 9, 10, 11, 12}
setS = {13, 14, 15}

#A
print(setA | setB | setC)
print(setA & setB & setC)
print((setA & setB) - setC)
print(setS - (setA & setB & setC))
print(setA - setB - setC)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{9}
{7}
{13, 14, 15}
{1, 2, 3}

1.	Ubahlah dua list berikut ke dalam Dictionary
keys = ['A01', 'A02', 'K01', 'K02', 'M01']
values = ['Lemari Kayu', 'Lemari Besi', 'Kursi Kayu', 'Kursi Putar', 'Meja Pimpinan']
Output yang diharapkan:
{'A01': 'Lemari Kayu', 'A02': 'Lemari Besi', 'K01': 'Kursi Kayu', 'K02': 'Kursi Putar', 'M01': 'Meja Pimpinan'}

In [11]:
keys = ['A01', 'A02', 'K01', 'K02', 'M01']
values = ['Lemari Kayu', 'Lemari Besi', 'Kursi Kayu', 'Kursi Putar', 'Meja Pimpinan']
print(dict(zip(keys, values)))

{'A01': 'Lemari Kayu', 'A02': 'Lemari Besi', 'K01': 'Kursi Kayu', 'K02': 'Kursi Putar', 'M01': 'Meja Pimpinan'}

2.	Tulis code Python untuk menambahkan kunci ke dictionary.
Contoh Dictionary : {0: 10, 1: 20}
Output yang diharapkan: {0: 10, 1: 20, 2: 30}

In [12]:
dict1 = {0: 10, 1: 20}
dict1[2] = 30
print(dict1)

{0: 10, 1: 20, 2: 30}

3.	Tulis code Python untuk menghasilkan dan mencetak dictionary yang berisi angka (antara 1 dan n) dalam bentuk (x, x*x). 
Contoh dictionary ( n = 5):
Output yang Diharapkan : {1:1, 2:4, 3:9, 4:16, 5:25}

In [13]:
n = 5
list1 = list()
list2 = list()
i = 1
while (i <= n):
    list1.append(i)
    list2.append(i * i)
    i += 1

print(dict(zip(list1, list2)))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

4.	Tulis code Python untuk mencetak disctionary di mana kuncinya adalah angka dari 1 s.d. 15 dan nilainya adalah kuadrat dari kunci. 
Output yang diharapkan:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11:121, 12: 144, 13 : 169, 14: 196, 15: 225}

In [14]:
n = 15
list1 = list()
list2 = list()
i = 1
while (i <= n):
    list1.append(i)
    list2.append(i * i)
    i += 1

print(dict(zip(list1, list2)))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

5.	Tulis program Python untuk menggabungkan dua dictionary yang menambahkan nilai berdasarkan kunci.
contoh dictionary:
d1 = {'a': 200, 'b': 300, 'c':400}
d2 = {'a': 300, 'b': 200, 'd':500}
Output yang diharapkan: 
Penghitung({'a': 500, 'b': 500, 'd': 500, 'c': 400})

Catatan: gunakan fungsi counter dengan terlebih dahulu mengimpor “from collections import Counter”

In [15]:
from collections import Counter

d1 = {'a': 200, 'b': 300, 'c':400}
d2 = {'a': 300, 'b': 200, 'd':500}
a = Counter(d1)
b = Counter(d2)
print(a + b)

Counter({'a': 500, 'b': 500, 'd': 500, 'c': 400})

6.	Tulis program Python untuk mencetak semua nilai unik dalam dictionary.
Contoh Data : 
[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":" S005"}, {"V":"S009"},{"VIII":"S007"}]
Output yang Diharapkan : 
Nilai Unik: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [16]:
dict1 = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
tampung = list()
i = 0
while (i <= (len(dict1) - 1)):
    dict3 = list(dict1[i])[0]
    dict2 = dict1[i]
    dict4 = dict2[dict3]
    tampung.append(dict4)
    i += 1
    
print(set(tampung))

{'S009', 'S005', 'S007', 'S001', 'S002'}

7.	Tulis program Python untuk mendapatkan tiga item teratas dari sebuah dictionary. 
Contoh data: 
{'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Output yang diharapkan:
item4 55
item1 45.5
item3 41.3

In [17]:
dict1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
dict1 = list(dict1)
print(dict1)

['item1', 'item2', 'item3', 'item4', 'item5']

8.	Tulis program Python untuk mengonversi lebih dari satu list ke nested dictionary.
Data list:
['S001', 'S002', 'S003', 'S004']
['Andi', 'Budi', 'Susi', 'Hadi']
[85, 98, 89, 92]
Output yang diharapkan (nested dictionary):
[{'S001': {'Andi': 85}}, {'S002': {'Budi': 98}}, {'S003': {'Susi': 89}}, {'S004' : {'Hadi': 92}}]

In [18]:
list1 = ['S001', 'S002', 'S003', 'S004']
list2 = ['Andi', 'Budi', 'Susi', 'Hadi']
list3 = [85, 98, 89, 92]
tampung1 = list()
i = 0
while i <= (len(list2) - 1):
    t1 = [list2[i]]
    t2 = [list3[i]]
    tampung1.append(dict(zip(t1, t2)))
    i += 1
tampung2 = list()
tampung2.append(dict(zip(list1, tampung1)))
print(tampung2)

[{'S001': {'Andi': 85}, 'S002': {'Budi': 98}, 'S003': {'Susi': 89}, 'S004': {'Hadi': 92}}]

9.	Tulis program Python untuk membuat dictionary dari string dengan jumlah huruf dari tiap character.
Contoh string: 'STMIK PONTIANAK'
Output yang diharapkan:
{'S': 1, 'T': 2, 'M': 1, 'I': 2, 'K': 2, ' ': 1, 'P': 1, 'O': 1, 'N': 2, 'A': 2}

In [19]:
str1 = 'STMIK PONTIANAK'
str1 = list(str1)
str2 = [1, 2, 1, 2, 2, 1, 1, 1, 2, 2]
print(dict(zip(str1, str2)))

{'S': 1, 'T': 2, 'M': 1, 'I': 2, 'K': 2, ' ': 1, 'P': 1, 'O': 1, 'N': 2}

10.	Tulis program Python untuk mengurutkan Penghitung berdasarkan nilai. 
Contoh data : 
{'C++':81, 'Java':83, 'Python':87, 'C':82, 'javascript':85 }
Data yang diharapkan: 
[('Python', 87), ('javascript', 85), ('Java', 83), ('C', 82), ('C++', 81)]

In [20]:
from collections import Counter
dict1 = {'C++':81, 'Java':83, 'Python':87, 'C':82, 'javascript':85 }


tampung1 = list()
tampung2 = list()
tampung3 = list()

i = 0
while i <= (len(dict1) - 1):
    keys = list(dict1)[i]
    values = dict1[keys]
    tampung1.append(keys)
    tampung1.append(values)
    tampung3.append(values) 
    tampung2.append(list(tampung1))
    tampung1.remove(keys)
    tampung1.remove(values)
    i += 1

tampung3.sort()
tampung3.reverse()

dict1 = tampung2

tampung4 = [1, 2, 3, 4, 5]
i = 0
while i <= (len(dict1) - 1):
    t1 = dict1[i][1]
    t2 = dict1[i]
    idx = tampung3.index(t1)
    tampung4[idx] = tuple(t2)
    i += 1
print(tampung4)

[('Python', 87), ('javascript', 85), ('Java', 83), ('C', 82), ('C++', 81)]